// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2012-2020 Association Prologin <association@prologin.org>

#pragma once

enum action_id
{
    {%- for func in yaml['function'] %}
        {%- if func['fct_action'] %}
    ID_ACTION_{{ func['fct_name']|upper }},
        {%- endif %}
    {%- endfor %}
};

{% for func in yaml['function'] %}
    {%- if func['fct_action'] %}
#include "action_{{ func['fct_name'] }}.hh"
    {%- endif %}
{%- endfor %}

