{# SPDX-License-Identifier: GPL-2.0-or-later
 # Copyright (c) 2020 Association Prologin <association@prologin.org>
 #}
// Include standard library in documentation: `cargo doc --open`
#[doc(inline)]
pub use std;

pub mod api;
use api::*;

{% for func in game.user_function %}

{{ func.fct_summary|rust_comment(doc=True) }}
pub {{ func|rust_prototype }}
{
    {% if func is returning %}
    todo!()
    {% else %}
    // TODO
    {% endif %}
}
{% endfor %}
