.lock-*
build
.unittest-gtest
__pycache__
*.pyc
.waf*
tools/generator/test/c
tools/generator/test/caml
tools/generator/test/cs
tools/generator/test/cxx
tools/generator/test/includes
tools/generator/test/java
tools/generator/test/php
tools/generator/test/haskell
tools/generator/test/python
tools/generator/test/rust
tools/generator/test/README
games/*
!games/tictactoe
!games/plusminus
.syntastic_cpp_config
