.lock-*
build
.unittest-gtest
__pycache__
*.pyc
.waf*
tools/rubygenerator/test/c
tools/rubygenerator/test/caml
tools/rubygenerator/test/cs
tools/rubygenerator/test/cxx
tools/rubygenerator/test/includes
tools/rubygenerator/test/java
tools/rubygenerator/test/php
tools/rubygenerator/test/haskell
tools/rubygenerator/test/python
tools/rubygenerator/test/rust
tools/rubygenerator/test/README
games/*
!games/tictactoe
!games/plusminus
.syntastic_cpp_config
