{% extends "base.html" %}

{% block "title" %}Tous les champions{% endblock %}
{% block "titleh1" %}Tous les champions{% endblock %}

{% block "content" %}

<p class="intro">{{ explanation_text }}</p>

{% if is_paginated %}{% load paginator %}{% paginator 5 %}{% endif %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            {% if show_for_all %}
            <th>Auteur</th>
            {% else %}
            <th>Statut</th>
            {% endif %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for champion in champions %}
        <tr class="{% cycle "row1" "row2" %}">
            <td>{{ champion.id }}</td>
            <td>{{ champion.name }}</td>
            {% if show_for_all %}
            <td>{{ champion.author }}</td>
            <td><a href="{{ champion.get_absolute_url }}">Détails</a></td>
            {% else %}
            <td>{{ champion.get_status_display }}</td>
            <td>
                <a href="{{ champion.get_absolute_url }}">Détails</a> -
                <a href="{{ champion.get_delete_url }}">Supprimer</a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">Aucun champion inscrit actuellement.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
