# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (c) 2020 Association Prologin <association@prologin.org>

# When running in server mode, simply take all the files extracted from the
# archive.
ifdef STECHEC_SERVER
  CHAMPION_FILES = $(wildcard *)
endif

CXXFLAGS = -ggdb3 -Wall -std=c++17 -fPIC -O2
{% block extra_flags %}
{% endblock %}

all: champion.so

cxx_sources = $(filter %.cc,$(CHAMPION_FILES))
objs += $(cxx_sources:.cc=.o)
to_clean = $(objs)

{% block extra_rules %}
{% endblock %}

{% block build_library %}
champion.so: $(objs)
	$(CXX) -o $@ -Wl,--whole-archive $^ -Wl,--no-whole-archive -shared $(LDFLAGS)
{% endblock %}

clean:
	@$(RM) _lang # In case the tar rule was interrupted
	$(RM) $(to_clean)

distclean: clean
	$(RM) champion.so champion.tgz

champion.tgz: $(CHAMPION_FILES)
	@echo "{% block lang %}{% endblock %}" > _lang
	tar czf $@ $^ _lang
	@rm _lang

tar: champion.tgz

.PHONY: tar clean distclean
