// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2012-2020 Association Prologin <association@prologin.org>

#include "actions.hh"

int Action{{ action.fct_name|camel_case }}::check(const GameState& st) const
{
    // FIXME
    return 0;
}

void Action{{ action.fct_name|camel_case }}::apply_on(GameState* st) const
{
    // FIXME
}

void Action{{ action.fct_name|camel_case }}::dump_json(const GameState& st) const
{
    // FIXME: optional function that dumps the action
}
