// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2012-{{ year }} Association Prologin <association@prologin.org>

#include "api.hh"

#include <memory>
#include <utility>

// global used in interface.cc
Api* api;

Api::Api(std::unique_ptr<GameState> game_state,
         std::shared_ptr<rules::Player> player)
    : rules::Api<GameState, error>(std::move(game_state), player)
{
    api = this;
}

{# Generate the C++ definition for each API function #}
{% for func in game.function %}
{% if not func.fct_action %}
{{ func|cxx_prototype(prefix='Api::') }}
{
    // TODO
    abort();
}
{% endif %}
{% endfor %}
