{% import 'macros/cxx.jinja2' as cxx -%}

// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2012-{{ year }} Association Prologin <association@prologin.org>

#pragma once

{% for constant in game.constant %}

{{ cxx.decl_constant(constant) }}
{% endfor %}

{% for enum in game.enum %}

{{ cxx.decl_enum(enum) }}
{% endfor %}

{% for struct in game.struct %}

{{ cxx.decl_struct(struct) }}
{% endfor %}
