// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright (c) 2020 Association Prologin <association@prologin.org>

// This file contains the code to call the API functions from the C++ language.
// {{ stechec2_generated }}

#include "api.hh"

// This file only contains simple C++ wrappers around the API, that are
// basically already C++ functions, but with an `extern "C"`.
{% for func in game.function %}

extern "C" {{ func|cxx_prototype(prefix='api_') }};
{{ func|cxx_prototype }}
{
    {%+ if func is returning %}return {% endif -%}
    api_{{ func.fct_name }}({{ func.fct_arg|map('first')|join(', ') }});
}
{% endfor %}
