{-# LANGUAGE ForeignFunctionInterface #-}

{{ stechec2_generated|haskell_comment }}

module Champion where

import Api

{% for func in game.user_function %}

{{ func.fct_summary|haskell_comment }}
{{ func.fct_name }} :: IO ()
{{ func.fct_name }} = return () -- TODO
{% endfor %}

{% for func in game.user_function %}

hs_{{ func.fct_name }} = {{ func.fct_name }}
foreign export ccall hs_{{ func.fct_name }} :: IO ()
{% endfor %}
