{# SPDX-License-Identifier: GPL-2.0-or-later #}
{# Copyright (c) 2020 Association Prologin <association@prologin.org> -#}
{% for func in game.user_function %}

{{ func.fct_summary|caml_comment(doc=True) }}
{{ func|caml_signature }}
{% endfor %}
