name: stechec2-generator-test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Generator tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'

      - name: Install generator dependencies
        # Some packages here are included in the --ldflags of php-config but
        # not present by default in the CI, so we install them manually.
        # (libargon2-1 and libsodium-dev)
        run: |
          sudo apt-get update
          sudo apt-get install \
            python3 python3-dev python3-yaml python3-jinja2 flake8 php-cli \
            php-dev libphp-embed ocaml mono-devel ghc \
            libargon2-0-dev libsodium-dev

      - name: Lint with flake8
        working-directory: ./tools/generator
        run: |
          flake8 . --count --show-source --statistics --exclude test/languages
        continue-on-error: true

      - name: Test
        working-directory: ./tools
        run: |
          python3 -m generator.test
